<app-adminheader></app-adminheader>
<div class="row">
    <div class="col-md-4 mb-3">
        <app-dashboardlist></app-dashboardlist>
    </div>
    <div class="col-md-8">
            <div class="container-fluid">
            <div class="card">
              <div class="card-header bg-warning"> 
                <h2 class="white-text">Blog List</h2>
              </div>
              <div class="card-body">
                <table class="table table-striped">
                  <tr>
                    <th>Blog Author</th>
                    <th>Blog Title</th>
                    <!-- <th>Description</th> -->
                    <th>Edited</th>
                    <th>Admin Privalges</th>
                  </tr>
                  <tbody *ngFor="let blog of blogs | sort: '-createdAt'">
                  <tr class="bg-white">
                    <td>{{blog.author}}</td>
                    <td>{{blog.title}}</td>
                    <!-- <td>{{blog.body}}</td> -->
                    <td>{{blog.updatedAt | date:'MMM d y'}}</td>
                    <td> 
                      <!-- <button class="btn-warning">Update</button>
                      <button class="btn-danger" (click)="removeBlog(blog, blog._id)">Delete</button>  -->
                      <a><i class="fas fa-edit mr-2">update</i></a>
                      <a><i class="fas fa-trash-alt" (click)="removeBlog(blog, blog._id)"> Delete</i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <a href="admin/dashboard/newblog"><button class="btn btn-primary">Write new blog</button></a>
            <div>
    </div>
  </div>

