<div class="container-fluid m-3 p-3">

  <div *ngIf='(products)?.length === 0'>
      <h1 class="text-center">Sorry There are no dinning tables at this time. Please check back again soon!</h1>

  </div>

  <div class="row" *ngFor="let product of products">
    <div class="col-md-4">
      <img src="./assets/images/Woodtable2.jpg" class="mt-3 z-depth-2 img-fluid">

    </div>

    <div class="col-md-8">
      <h2 class="text-center m-3 p-3 ">{{product.product_name}}</h2>
      <p class="font-weight-bold">Dinning Collection Description</p>
      <p>{{product.description}}</p>
      <p class="font-weight-bold">Dinning Collection Dimensions</p>
      <p>{{product.dimensions}}</p>
      <p class="font-weight-bold">Dinning Collection Price</p>
      <p>${{product.price}}</p>
      <Button class="btn btn-danger float-md-right">Purchase</Button>

      <!-- <div class="row mt-4">
          <div class="col-6">
            <p class="font-bold">${{product.price}}</p>
          </div> -->
    </div>
    <hr>
  </div>
</div>