<div class="container-fluid">
<div class="card">
  <div class="card-header bg-warning">
      <i class="fas fa-cog"></i> <span class="text-white">Dashboard</span>
  </div>
<div class="list-group">
        <a [routerLink]="['pageslist']"  class="list-group-item list-group-item-action waves-effect"><i class="fas fa-file-alt mr-2"></i>Pages</a>
        <a [routerLink]="['bloglist']" class="list-group-item list-group-item-action waves-effect"><i class="fas fa-pencil-alt mr-2"></i>Blog Post</a>
        <a [routerLink]="['dashboard']"  class="list-group-item list-group-item-action waves-effect"><i class="fas fa-gem mr-2"></i>Products</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-user mr-2"></i>Users</a>
    </div>
  </div>
</div>