<div class="container-fluid">
<div class="card z-depth-1">
  <div class="card-header bg-warning">
      <i class="fas fa-cog"></i> <span class="text-white">Admin Dashboard</span>
  </div>
<div class="list-group">
        <a href="admin/dashboard/pageslist"  class="list-group-item list-group-item-action waves-effect"><i class="fas fa-file-alt mr-2"></i>Pages<span class="badge badge-dark float-right">3</span></a>
        <a href="admin/dashboard/bloglist" class="list-group-item list-group-item-action waves-effect"><i class="fas fa-pencil-alt mr-2"></i>Blog Post<span class="badge badge-dark float-right">8</span></a>
        <a href="admin/dashboard" class="list-group-item list-group-item-action waves-effect"><i class="fas fa-gem mr-2"></i>Products<span class="badge badge-dark float-right">89</span></a>
        <a href="admin/dashboard/userslist" class="list-group-item list-group-item-action"><i class="fas fa-user mr-2"></i>Users<span class="badge badge-dark float-right">65</span></a>
        <a href="admin/dashboard/eventslist" class="list-group-item list-group-item-action"><i class="far fa-calendar-alt mr-2"></i>Events<span class="badge badge-dark float-right">30</span></a>
    </div>
  </div>
</div>