<div class="container p-2">
  <h1 class="text-center">Nyjahwoods Upcoming Events</h1>
  <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ratione qui cupiditate explicabo quae nostrum! Velit atque et minus id fuga quo quasi obcaecati fugit hic doloremque? Nihil, mollitia itaque.</p>
  <div class="row">

    <!-- Card -->
    <div class="card m-2 z-depth-1 p-2" *ngFor ="let event of events">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">{{event.Title}}</h4>
        <div>
        <p class="font-weight-bold">Date and Time</p>
        <span class="card-text">{{event.Date | date: 'MMMM d, y'}}</span>
        <br>
        <span class="card-text">{{event.Time}}</span>
       </div>
        <div class="mt-1">
        <p class="font-weight-bold">Location</p>
        <span class="card-text">{{event.Location}}</span>
        </div>
        <div class="mt-1">
        <p class="font-weight-bold">Description</p>
        <p class="card-text"> {{event.Description}}</p>
        <i class="far fa-calendar-alt fa-2x"></i>
      </div>
      </div>
  
    </div>
    <!-- Card -->
</div>
