<app-adminheader></app-adminheader>
<div class="row">
    <div class="col-md-4 mb-3">
      <app-dashboardlist></app-dashboardlist>
    </div>
    <div class="col-md-8">
        <div class="container-fluid">
            <div class="card">
              <div class="card-header bg-warning"> 
                <h2 class="white-text">Registered Users</h2>
              </div>
              <div class="card-body">
                <table class="table table-striped container-fluid">
                  <tr>
                    
                    <th>Name</th>
                    <th>Email</th>
                    <th>create_date</th>
                    <th>Admin Privalges</th>
                  </tr>
                  <tbody *ngFor ="let user of users">
                    
                    <td>{{user.first_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.createdAt}}</td>
                    <td> <button class="btn-warning">view</button> 
                         <!-- <button class="btn-danger" data-toggle="modal" data-target="#modalConfirmDelete" type="button">delete</button>  -->
                         <button class="btn-danger" (click)="removeUser(user, user._id)">delete</button>
                        </td>
                </tbody>
                </table>
              </div>
            </div>
            </div>
    </div>
  </div>


<!-- Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure?</p>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <i class="fa fa-times fa-4x animated rotateIn" id="x"></i>
                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a class="btn btn-outline-danger">Yes</a>
                    <a class="btn btn-danger" data-dismiss="modal">No</a>
                    <!-- <a type="button" class="btn btn-outline-primary" data-dismiss="modal">No</a> -->
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalConfirmDelete -->