<app-adminheader></app-adminheader>
<div class="row">
    <div class="col-md-4 mb-3">
      <app-dashboardlist></app-dashboardlist>
    </div>
    <div class="col-md-8">
        <div class="container-fluid">
            <div class="card">
              <div class="card-header bg-warning"> 
                <h2 class="white-text">Registered Users</h2>
              </div>
              <div class="card-body">
                <table class="table table-striped">
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>create_date</th>
                    <th>Admin Privalges</th>
                  </tr>
                  <tbody *ngFor ="let user of users">
                    <td>{{user._id}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.createdAt}}</td>
                    <td> <button class="btn-warning">edit</button> 
                         <button class="btn-danger">delete</button> </td>
                </tbody>
                </table>
              </div>
            </div>
            </div>
    </div>
  </div>