<header>
      <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light mb-3">
            <button class="navbar-toggler m-auto" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      
        <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mx-auto text-center">
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" [routerLink]="['ourstory']">Our Story</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" [routerLink]="['collections']">Our Collections</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" [routerLink]="['blog']">Blog</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" [routerLink]="['events']">Upcoming Events</a>
              </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" [routerLink]="['contact']">Contact us</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right text-center" *ngIf="!_auth.loggedIn()">
            <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
                 <a class="nav-link" [routerLink]="['registration']">Register</a>
            </li>    
            <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" [routerLink]="['login']">Login</a>
            </li> 
        </ul>
        <ul class="nav navbar-nav navbar-right text-center" *ngIf="_auth.loggedIn()">
            <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!_auth.admin()">
                 <a class="nav-link" [routerLink]="['profile']">Welcome {{user}}</a>
            </li>
            <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="_auth.admin()" >
                <a class="nav-link" [routerLink]="['/admin/dashboard']">Welcome Admin</a>
           </li>
            <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
              <a class="nav-link" (click)="logOut()">Log Out</a>
         </li> 
        </ul>
        </div>
      </nav>
</header>
