
<section class="my-5 m-5">

    <h2 class="h1-responsive font-weight-bold text-center my-5">Nyjahwoods Blog</h2>
    <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
    <!-- Grid row -->
    <div class="row mb-3" *ngFor="let blog of blogs | sort: '-createdAt' ">
      <div class="col-lg-5 col-xl-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-1 mb-lg-0 mb-4">
          <img class="img-fluid" src="../../assets/images/shavings.jpg" alt="nyjah table" width="100%"/>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-xl-8">
        <h3 class="font-weight-bold mb-3"><strong>{{blog.title}}</strong></h3>
        <p>Date published:  {{blog.createdAt | date: 'MMM d, y'}}</p>
        <p class="dark-grey-text">{{blog.body}}</p>
        <p>by <a class="font-weight-bold">{{blog.author}}</a></p>

      </div>
      <!-- Grid column -->
       <hr class="my-5">
    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Blog v.3 -->