
<div class="container">
    <div class="text-center">
        <h1><i class="fas fa-grin-alt mr-3"></i>User Registration</h1>
    <small>please take a moment to register for our site</small>
    </div>   
    <form method="post" action ="/api/register">
        <div class="form-group">
         <label>First Name</label>   
        <input class="form-control" type="text" name ="firstname" label="first name" required>
        </div>
        <label>Last Name</label>   
        <div class="form-group">
        <input class="form-control" type="text" name ="lastname" label="last name" required>
        </div>
        <label>Email</label>  
        <div class="form-group">
        <input class="form-control" type="email" name="email" label="email name" required> 
        </div>
        <label>Username</label>  
        <div class="form-group">
        <input class="form-control" type="text" name="username" label="username" required> 
        </div>
        <label>Password</label> 
        <div class="form-group">
        <input class="form-control" type="password" name="password" label="password" required> 
        </div>
        <button class="btn btn-primary" type = "submit" value ="ok">Submit</button>
    </form>
</div>