<div class="row p-3">
  <div class="col-12">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KCDopOoIWcE" height="500px" width="100%"></iframe>
  </div>
</div>

<h1 class="text-center">Our story</h1>

<div class="row m-3 p-3">
  <div class="col-md-4">
    <img src="./assets/images/Woodtable2.jpg" class="img-fluid mb-3">
  </div>
  <div class="col-md-8">
      <p>Based out of Oakland CA, in the San Francisco Bay Area, NyjahWood was created out of a pure love for crafts and handmade custom furniture.With love for all things wood, NyjahWood is dedicated to the preservation of our remaining old growth forests and sincerely believe they should be left as a legacy for our future.</p>
      <p>Furthermore, we are a true believer that using reclaimed wood is one of the purest forms of recycling in efforts to recreate something remarkable.The unique wood used for these pieces comes from abandoned barns, historical warehouses as well as structures over 100 years of age.  We believe that building a connection with our past puts everything in better perspective for the present.We especially love salvaging and reclaiming exceptional wood that has character and is unique with a specific aim at creating these one-of-a-kind furniture pieces available to you. These artisan craft reclaimed wood tables will be a center piece in your home or business where memories will be created.</p>
      <p>Not only is it environmentally responsible to recycle antique lumber, but the sheer beauty of the patina from reclaimed wood just can't be replicated.</p>
    </div>
    <!-- <div>
      <p class="text-justify p-3">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facili At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facili</p>
    </div> -->
</div>
