<app-adminheader></app-adminheader>
<div class="row">
    <div class="col-md-4">
        <app-dashboardlist></app-dashboardlist>
    </div>
    <div class="col-md-8">
            <div class="container container-fluid">
                <div class="card">
                    <div class="card-header bg-warning text-center">
                        <span class="text-white">Add Product</span>
                    </div>
                    <div class="card-body">
                    <form method="post" action ='/api/newproduct'>
                        <div class="form-group">
                         <label>Product Name</label>   
                        <input class="form-control" type="text" name ="name" label="product name" required>
                        </div>
                        <label>Description</label>   
                        <div class="form-group">
                        <input class="form-control" type="text" name ="description" label="description" id="editor1">
                        </div>
                        <label>Price</label>  
                        <div class="form-group">
                        <input class="form-control" type="number" name="price" label="price" required> 
                        </div>
                        <button class="btn btn-primary" type = "submit" value ="ok">Submit</button>
                    </form>
                    </div>
                  </div>
            </div>
        </div>
    </div> 

  