.container{
    padding: 50px;
    background-color:whitesmoke;
    width: 70%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
}

.bg {
    /* The image used */
    background-image:url('../../assets/images/shavings.jpg');
  
    /* Half height */
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.8;
  }

