<div class="container-fluid">
<div class="card">
  <div class="card-header bg-warning"> 
    <h2 class="white-text">Product List</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Admin Privelges</th>
      </tr>
      <tr>
        <td>Sample Name</td>
        <td>Sample Description</td>
        <td>October 12, 2018</td>
        <td> <button class="btn-warning" data-toggle="modal" data-target="#modal1">edit</button> 
             <button class="btn-danger">delete</button> </td>
      </tr>
      <tr>
        <td>Sample Name</td>
        <td>Sample Description</td>
        <td>October 12, 2018</td>
        <td> <button class="btn-warning">edit</button> <button class="btn-danger">delete</button> </td>
      </tr> 
      <tr>
        <td>Sample Name</td>
        <td>Sample Description</td>
        <td>October 12, 2018</td>
        <td> <button class="btn-warning">edit</button> <button class="btn-danger">delete</button> </td>
      </tr> 
    </table>
  </div>
</div>
<button class="btn btn-primary" [routerLink]="['addproduct']">Add Product</button>
</div>

<!-- Modal 1 -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning" >
          <h5 class="modal-title text-white" id="exampleModalLongTitle">Add Page</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Page Title</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="page title">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" placeholder="filler text" name="body"></textarea>
            </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>

  

