<app-adminheader></app-adminheader>
<div class="row">
    <div class="col-md-4 mb-3">
        <app-dashboardlist></app-dashboardlist>
    </div>
    <div class="col-md-8">
            <div class="container container-fluid">
                <div class="card">
                    <div class="card-header bg-warning text-center">
                        <span class="text-white h2">Write a new blog</span>
                    </div>
                    <div class="card-body">
                    <form #form="ngForm" (submit)="newBlog()">
                        <div class="form-group">
                         <label>Blog Title </label>   
                        <input class="form-control" type="text" name ="name" label="Blog Title" [(ngModel)]="blog.title" #blogtitle="ngModel"  required>
                        </div>
                        <label>Blog Author</label>  
                        <div class="form-group">
                        <input class="form-control" type="text" name="author" label="author" [(ngModel)]="blog.author" #author="ngModel" required> 
                        </div>
                        <label>Blog Body</label>   
                        <div class="form-group">
                        <textarea class="form-control" type="text" name ="body" required minlength="5" label="body" [(ngModel)]="blog.body" #description="ngModel" rows="7"></textarea>
                        </div>
                        <div *ngIf="description.errors?.minlength"><span style= "color:red">Please enter at least five characters</span></div>
                        <label>Blog Image</label>  
                        <div class="form-group">
                        <input class="form-control" type="text" name="image" label="image" [(ngModel)]="blog.image" #blogimage="ngModel" required>
                        <small>please provide link to image file("http:\\www.hostace.com\nyjahwood\123.jpg")</small>
                        </div>
                        <button class="btn btn-primary" [disabled]="!form.valid" type = "submit" value ="ok">Submit</button>
                    </form>
                    </div>
                  </div>
            </div>
        </div>
    </div> 
